// ***************************************************************
// CSS Variables
// ***************************************************************

:root {
  // font
  --global-font-family: "Frutiger Neue For Post";
  --global-font-weight-light: 300;
  --global-font-weight-regular: 400;
  --global-font-weight-bold: 700;

  // brand colors
  --brand-black: #000;
  --sample-red: red;

  // spacing
  --spacing-1x: 4;

  // borders
  --border-width-1x: 1;
  --paf-global-border-radius-1x: 2;
}
