// font-size
$base-font-size: 16;

// breakpoints
$breakpoint-zero: 0;
$breakpoint-micro: 360;
$breakpoint-small: 600;
$breakpoint-medium: 780;
$breakpoint-large: 1024;
$breakpoint-wide: 1280;
$breakpoint-ultra: 1440;

// transitions
$transition-duration-default: 200ms;
$transition-timing-function-default: cubic-bezier(0.785, 0.135, 0.15, 0.86);
